body {
  margin: 0;
}

#header {
  display: flex;
  height: 100px;
  background-color: rgb(63, 63, 77);
  padding: ;
  align-items: center;
  justify-content: center;
  color: aliceblue;
}

#menu {
  margin: 0 50px;
}

#home,
#menu,
#contact {
  border: solid white 3px;
  border-radius: 4px;
  padding: 10px;
}

#mainpage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 4fr 1fr;
  padding: 50px 200px;
  gap: 20px;
  height: 600px;
}

#mainpage > div {
  border: 1px solid black;
  border-radius: 10px;
}
#intro {
  grid-column: 1/3;
  grid-row: 1/2;
  color: white;

  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#introTitle {
  font-size: x-large;
}

#introTitle,
#introBody {
  margin: 10px;
  text-align: center;
}
#hour {
  grid-column: 3/4;
  grid-row: 1/2;
}

#address {
  grid-column: 2/3;
  grid-row: 2/3;
}

#hour {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hoursTitle {
  font-size: xx-large;
  margin-bottom: 50px;
}

#menuPage {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 800px;
  padding: 50px;
  gap: 30px;
}

#menuList0,
#menuList1,
#menuList2,
#menuList3,
#menuList4,
#menuList5 {
  border-radius: 10px;
  border: 4px solid black;
}

#contactInfo {
  border-radius: 10px;
  border: 4px solid black;
  margin: 100px 200px;
  padding: 50px;
}
